<%# PROJECT #1 - CRYPTONS %>
<div class="card-product mt-5">
  <%= link_to image_tag("cryptons-homepage.png"), "http://www.cryptons.me", target: "_blank"%>
  <div class="card-product-infos">
    <h2><%= link_to "Cryptons", "http://www.cryptons.me", target: "_blank" %></h2>
    <p>This web App is a Real time Cryptocurrency portfolio tracker Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam consequatur vero eos reiciendis pariatur temporibus perferendis, nemo mollitia autem beatae porro dolorum sit incidunt fugiat ad esse tempore explicabo voluptatibus!<strong></strong></p>
  </div>
</div>

<%# PROJECT #2 - BEER ORIGINS %>
<div class="card-product-right mt-5">
  <div class="card-product-infos-right">
    <h2><%= link_to "Beer Origins", "http://www.beerorigins.herokuapp.com", target: "_blank" %></h2>
    <p>This web App is a AirBnb clone of <strong>Craft Beer factory</strong>. This web App is a Real time Cryptocurrency portfolio tracker Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam consequatur vero eos reiciendis pariatur temporibus perferendis, nemo mollitia autem beatae porro dolorum sit incidunt fugiat ad esse tempore explicabo voluptatibus!</p>
  </div>
    <%= link_to image_tag("origin-show.png"), "http://www.beerorigins.herokuapp.com", target: "_blank" %>
</div>

<%# PROJECT #3 - MOVIE DB %>
<div class="card-product mt-5">
  <%= link_to image_tag("movie-db.png"), "", target: "_blank"%>
  <div class="card-product-infos">
    <h2><%= link_to "Movie DB", "", target: "_blank" %></h2>
    <p>This web App is a Real time Cryptocurrency portfolio tracker Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam consequatur vero eos reiciendis pariatur temporibus perferendis, nemo mollitia autem beatae porro dolorum sit incidunt fugiat ad esse tempore explicabo voluptatibus!<strong></strong></p>
  </div>
</div>
