<div class="footer mt-5">
  <h1>footer</h1>
  <div class="footer-navbar">
    <ol class="footer-list">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Projects", project_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ol>
 </div>
  <div class="d-flex justify-content-center">
    <p>Made by <%= image_tag "arthur_picard.png" %> with ❤️</p>
  </div>
</div>
